.badge {
    background: linear-gradient(145deg, #fffbe6, #f4f4f4); 
    border: 1px solid #ff9800;
    padding: 5px 10px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 -1px 3px rgba(255, 255, 255, 0.6); 
    text-align: center;
    position: fixed;
    width: fit-content; 
    font-size: 10px;
    z-index: 1000;
    overflow-wrap: break-word; /* Handles text overflow */
}

.badge-line {
    font-size: 12px;
    margin: 2px 0; 
}

#line1 {
    font-size: 14px; /* Slightly larger and bold for prominence */
    font-weight: bold;
    color: #ff4800;
}
