<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vikram Samvat Date Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main>
        <div id="badge" class="badge">
            <div id="line1" class="badge-line"></div>
            <div id="line2" class="badge-line"></div>
            <div id="line3" class="badge-line"></div>
            <div id="line4" class="badge-line"></div> <!-- Added for location -->
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
